a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover {
    font-size: 16px;
    color: yellow;
}

.yemeklink {
    text-decoration: none;
    font-size: 16px;
    color: #be860b;
}
.tb5 {
    border: 2px solid #456879;
    border-radius: 10px;
    height: 22px;
    width: 230px;
}
.fb8 {
    border: 2px solid #777;
    border-radius: 10px;
    outline: none;
    font-size: 18px; 
    font-weight: bold;
}
.fb8:hover
 {
    font-size: 22px;
    color: #1026a1;
   
 }
